<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en" }}">
{% include head.html %}

<head>
  <style>
    h1 {
      text-align: center;
    }
  </style>
</head>

<body>
  {% include header.html %}
  <h1 class="col-header dark-orange">Recent Research Writings</h1>
  <main aria-label="Content">
    <div class="container">
      <section class="works works--index">
        {% assign sorted_works = site.works | sort: 'priority' %}
        {% for work in sorted_works %}
        {% if work.title %}
        {% include work.html url=work.link title=work.title category=work.category poster=work.poster index=true %}
        {% endif %}
        {% endfor %}
      </section>
    </div>
  </main>
</body>

</html>

{{ content }}