<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: " en " }}">
{% include head.html %}

<body>
  {% include header.html %}

  <main class="home-content" aria-label="Content">
    <section class="works padding">
      <div class="Wallop">
        <div class="Wallop-list">
          {% for work in site.workpics %}
          {% if work.title %}
          <div class="Wallop-item">
            {% include work.html url=work.url
            poster=work.poster %}
          </div>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </section>
  </main>
  <a class="works__link" href="{{ '/writing' | relative_url }}">+ Writing </a>
  {% include footer.html %}
</body>

</html>

<script src="{{ "/assets/main.js" | relative_url }}"></script>